<%- include("header") -%>

    <div id="heading" class="box">
        <h1>
            <%= list %>
        </h1>
    </div>

    <div class="box">
        <% taskList.forEach( (item)=> { %>

            <form action="/delete" method="post">
                <div class="item">

                    <input type="checkbox" name="checkBox" value="<%= item._id %>" onchange="this.form.submit()" id="">
                    <p>
                        <%= item.name %>
                    </p>



                </div>
            </form>
            <% }); %>

                <form class="item" action="/" method="post">
                    <input type="text" autocomplete="off" name="newTask" autofocus placeholder="new Task">
                    <button type="submit" name="list" value=<%=list%> >+</button>
                </form>
    </div>

    <%- include("footer") -%>